@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Greycliff";
  src: url(./assets/fonts/GreycliffCF-Regular.ttf);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #E5E7EB;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9CA3AF;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}