@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Greycliff";
  src: url(./assets/fonts/GreycliffCF-Regular.ttf);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #E5E7EB;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9CA3AF;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Estilos para el botón en el SearchBar */
button.open-filter-button {
  z-index: 50; /* Ajusta el valor según sea necesario */
}

/* Estilos para el modal en FilterComponent */
.filter-modal {
  z-index: 100; /* Ajusta el valor según sea necesario */
}
