@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Greycliff";
  src: url(./assets/fonts/GreycliffCF-Regular.ttf);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e5e7eb;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9ca3af;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Estilos para el botón en el SearchBar */
button.open-filter-button {
  z-index: 50;
}

/* Estilos para el modal en FilterComponent */
.filter-modal {
  z-index: 100;
}

.border-1px {
  border-width: 1px;
}

.asideValues {
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
}

.characterInfo{
  display: grid;
  grid-template-columns: 90% 10%;
}
